.nav-bar>li:hover, .nav-bar>li a:hover {
    color: #a0a774;
}

.nav-bar>li.active>a {}

ul.flyout li a:hover, .nav-bar li ul li a:hover {
    color: #a0a774;
}

.flyout {
    border-top: 2px solid #a0a774;
}

.sectiontitle {
    border-left: 4px solid #a0a774;
}

::-moz-selection {
    background: #a0a774;
    color: #fff;
}

::selection {
    background: #a0a774;
    color: #fff;
}

.ca-menu li:hover .ca-main {
    color: #a0a774;
}

.topborder {
    border-top: 4px solid #a0a774;
}

#subheader {
    background: #a0a774;
    border-top: 1px solid #a0a774;
    color: #fff;
}

#subheader a {
    color: #fff;
    text-decoration: none;
}

#subheader a:hover {
    text-decoration: none;
    color: #fff;
}

.readmore {
    background: #a0a774;
}

#testimonials blockquote cite {
    color: #a0a774;
}

.tags {
    background: #333;
}

ul.pagination li.current a {
    background: #a0a774;
}

.saymore {
    color: #a0a774;
}

.submit {
    background: #a0a774;
}

dl.tabs dd.active {
    border-top: 3px solid #a0a774;
}

ul.accordion>li.active {
    border-top: 3px solid #a0a774;
}

div.alert-box.default {
    background-color: #a0a774;
}

.slide {
    margin: 0;
    padding: 0;
    border-top: solid 4px #a0a774;
}

.btn-slide {
    background: #a0a774 url(../../images/plus.png) no-repeat;
}

.btn-slide.active {
    background: #a0a774 url(../../images/minus.png) no-repeat;
}

#footer {
    border-top: #a0a774 4px solid;
}

.back-top a:hover {
    background-color: #666;
}

.sf-shadow ul {
    border-top: 2px solid #a0a774;
}

.panel {
    border-left: 4px solid #a0a774;
}

.colorbackground {
    background: #a0a774;
}

#homesubheader {
    background: #222;
}

a.projectdetail {
    background: #ccc;
    text-shadow: none;
    color: #111;
}

a.projectdetail:hover {
    background: #ccc;
    text-shadow: none;
    color: #111;
}

#testimonials {
    border-left: solid 6px #a0a774;
}

.ei-title h2 {
    background: #a0a774;
}